p
{
  background-color: blue;
  color: white;
  font-family: serif;
}

body{
  color: white;
  font-family: sans-serif;
  backgroud-image: url(mindBlown.gif);
  background-size: 100%;
  background-attachment: fixed;

}
